# Python
*.py
*.pyc
__pycache__/
*.json

# Project files
.agents/
.claude/
brand_philosophy_outputs/
personal_brand_outputs/
stock-analysis/
images-optimized/

# Other
*.exe
*.lnk
*.bat
*.txt
*.md
!README.md

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
